h1 {
    font-style: italic;
    text-align: center;

}

.vcsabia{
    border: 5px solid yellowgreen;
    margin-left: 300px;
    
    }
    
    .vcsabia:hover{
    background-color: tomato;
    
    }

.pmain {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

h2 {
    margin-left: 10px;
   
   }

   
.form  {
    border: 5px outset black;
    height: 225px;
    width: 350px;
    background-color: lightblue;
    padding-left: 15px;
    padding-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  
  
.box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .pfoot {
    color: white;
    
    }

  .botfoot {
    background-color: rgb(216, 215, 215);
    border: double;

}


footer{
    background-color: black;
}

a {
    text-decoration: none;

}



button:hover{
background-color: olivedrab;
padding: 50px, 40px;

}


button:active{
background-color: black;
padding: 50px, 40px;

}


  body{
background-color: rgb(216, 228, 228);

  }
